<!DOCTYPE html>
<html lang="en">
<head>

    <%- include('./Partials/head.ejs') %>

</head>
<body>

    <%- include('./Partials/nav.ejs') %>

    <div class="not-found content">
        <h2>OOPS, page not found</h2>
    </div>

    <%- include('./Partials/footer.ejs') %>

</body>
</html>