<!DOCTYPE html>
<html lang="en">

    <%- include('./Partials/head.ejs') %>

<body>
    
    <%- include('./Partials/nav.ejs') %>

    <div class="about content">
        <h2>About us</h2>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dolores, odio tempora consequatur voluptas veniam amet asperiores quidem, laborum magnam iure porro, praesentium impedit non quod iusto. Nostrum aspernatur perspiciatis neque!</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum autem quia tenetur corporis consequuntur enim aliquam asperiores ipsa vel rem non possimus culpa tempora odit eligendi, eveniet voluptatem tempore iure!</p>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae, fugit. Earum necessitatibus vitae accusantium nulla ipsum, dicta quibusdam molestiae consequuntur veritatis quae eum labore iure natus harum eos, praesentium provident.</p>

    </div>

    <%- include('./Partials/footer.ejs') %>

</body>
</html>